@charset "UTF-8";
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

body {
  font-size: 16px; }

.container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.bg_main {
  background-color: #ffe002; }

.bg_second {
  background-color: #fff; }

.bg_black {
  background-color: #000; }

.container-inside {
  width: 70%;
  margin: 2em auto;
  padding: 0; }

.quote {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 3.8em;
  color: #000;
  margin: 0 0 50px 0;
  padding: 0 0 0 0; }

.laquo {
  position: relative; }
  .laquo::before {
    content: '«';
    position: absolute;
    top: -3px;
    left: -25px; }

.author {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 2.8;
  color: #000;
  position: relative; }
  .author::before {
    content: '–';
    font-size: 1.5em;
    font-weight: 500;
    position: absolute;
    top: -15px;
    left: 232px;
    color: #000;
    transform: rotate(123deg);
    -moz-transform: rotate(123deg);
    -ms-transform: rotate(123deg);
    -webkit-transform: rotate(123deg);
    -o-transform: rotate(123deg); }

.text {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 3.1em; }
  .text:last-child {
    padding: 0px; }

.text_marpad {
  margin: 0 0 0 0;
  padding: 0 0 50px 0; }

.text-color_black {
  color: #000; }

.text-color_white {
  color: #fff; }

.input {
  width: 100vh;
  height: 16vh;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  border: 4px solid #adadad;
  color: #ffe002;
  font-size: 2.5em;
  outline: none; }
  .input::placeholder {
    color: #adadad;
    font-size: 2.5em; }
  .input:focus {
    border-color: #000; }

.text-input_marpad {
  margin: 30px 0 0 0;
  padding: 0 0 20px 0; }

.btn {
  margin: 100px 0 0 0;
  padding: 0 0 0 0;
  width: 21.8em;
  height: 6.25em;
  background: #ffe002;
  border-radius: 1.8em;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 2.18em;
  line-height: 2.18em;
  color: #000;
  outline: none; }
  .btn:hover {
    cursor: pointer;
    outline: none;
    background-color: #adadad;
    border-color: #adadad; }
  .btn:active {
    outline: none; }

.text-link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff; }
  .text-link:hover {
    color: #ffe002;
    border-bottom: 2px dashed #ffe002; }

.footnote {
  margin: 100px 0 0 0;
  padding: 0 0 0 0;
  font-size: 10px;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  color: #adadad; }

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  body {
    font-size: 15px; }

  .text {
    line-height: 1.8em; }

  .container-inside {
    width: 85%; }

  .quote {
    margin: 0 0 40px 0; } }
@media only screen and (min-width: 500px) and (max-width: 899px) {
  body {
    font-size: 14px; }

  .text {
    line-height: 1.8em; }

  .container-inside {
    width: 85%; }

  .quote {
    margin: 0 0 30px 0; }

  .laquo {
    position: relative; }
    .laquo::before {
      content: '«';
      position: absolute;
      top: -3px;
      left: -17px; }

  .author {
    position: relative; }
    .author::before {
      content: '–';
      font-weight: 500;
      position: absolute;
      top: -10px;
      left: 193px; }

  .input {
    padding: 0 5px 0 5px;
    border-radius: 10px; }

  .btn {
    margin: 60px 0 0 0;
    border-radius: 20px; }
    .btn:active {
      outline: none; }

  .text-link {
    margin: 2px 0 10px 0;
    padding: 0 0 0 0; }
    .text-link:active {
      color: #adadad;
      border-bottom: 3px dashed #adadad; } }
@media only screen and (max-width: 499px) {
  body {
    font-size: 12px; }

  .text {
    font-size: 1.8em;
    line-height: 1.8em; }

  .quote {
    font-size: 1.8em;
    line-height: 1.8em; }

  .container-inside {
    width: 90%; }

  .quote {
    margin: 10px 0 20px 0; }

  .laquo {
    position: relative; }
    .laquo::before {
      content: '«';
      position: absolute;
      top: -2px;
      left: -12px; }

  .author {
    position: relative; }
    .author::before {
      content: '–';
      font-weight: 500;
      position: absolute;
      top: -10px;
      left: 155px; }

  .text:last-child {
    padding: 0px; }

  .input {
    padding: 0 5px 0 5px;
    border-radius: 10px; }

  .btn {
    margin: 60px 0 0 0;
    border-radius: 10px;
    outline: none; }
    .btn:active {
      outline: none; }

  .text-link {
    margin: 2px 0 10px 0;
    padding: 0 0 0 0; }
    .text-link:active {
      color: #adadad;
      border-bottom: 3px dashed #adadad; }

  .footnote {
    margin: 80px 0 0 0; } }
@media only screen and (orientation: landscape) and (max-width: 1200px) {
  .container {
    height: 100%; }

  .first-screen {
    height: 100vh; }

  .text {
    line-height: 1.8em; } }
