$font-main: "Noto Serif",
serif;
$container_width: 100%;
$bg-main_color: #ffe002;
$bg-second_color: #fff;
$text-main_color: #000;
$bg-black_color: #000;
$text-second_color: #fff;
$text-input_color: #adadad;