@import '_param';
* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.container {
    max-width: $container_width;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_white {
    background-color: $bg-main_color;
}

.bg_black {
    background-color: $bg-second_color;
}

.container-inside {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.quote {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: $text-main_color;
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
}

.laquo {
    position: relative;
    &::before {
        content: '«';
        position: absolute;
        top: -3px;
        left: -25px;
    }
}

.author {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: $text-main_color;
    position: relative;
    &::before {
        content: '–';
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        top: -15px;
        left: 232px;
        transform: rotate(123deg);
        -moz-transform: rotate(123deg);
        -ms-transform: rotate(123deg);
        -webkit-transform: rotate(123deg);
        -o-transform: rotate(123deg);
    }
}

.text {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    &:last-child {
        padding: 0px;
    }
}

.text_marpad {
    margin: 0 0 0 0;
    padding: 0 0 50px 0;
}

.text-color_black {
    color: $text-main_color;
}

.text-color_white {
    color: $text-second_color;
}

.input {
    width: 100%;
    height: 120px;
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    border: 4px solid $text-input_color;
    color: $text-main_color;
    font-size: 40px;
    outline: none;
    &::placeholder {
        color: $text-input_color;
        font-size: 40px;
    }
    &:focus {
        border-color: $text-main_color;
    }
}

.text-input_marpad {
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}

.btn {
    margin: 100px 0 0 0;
    padding: 0 0 0 0;
    width: 350px;
    height: 100px;
    background: $bg-second_color;
    border-radius: 30px;
    font-family: $font-main;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: $text-second_color;
    outline: none;
    &:hover {
        cursor: pointer;
        outline: none;
        background-color: $text-input_color;
        border-color: $text-input_color;
    }
    &:active {
        outline: none;
    }
}

.text-link {
    color: $text-second_color;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid $text-second_color;
    &:hover {
        color: $text-input_color;
        border-bottom: 2px dashed $text-input_color;
    }
}

.footnote {
    margin: 120px 0 0 0;
    padding: 0 0 0 0;
    font-size: 10px;
    font-family: $font-main;
    font-weight: 400;
    color: $text-input_color;
}

@media only screen and (min-width:900px) and (max-width: 1100px) {
    .container-inside {
        width: 85%;
    }
    .quote {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 40px 0;
    }
}

@media only screen and (min-width:500px) and (max-width: 899px) {
    .container-inside {
        width: 85%;
    }
    .quote {
        font-size: 35px;
        line-height: 40px;
        margin: 0 0 30px 0;
    }
    .laquo {
        position: relative;
        &::before {
            content: '«';
            position: absolute;
            top: -3px;
            left: -17px;
        }
    }
    .author {
        font-size: 25px;
        line-height: 25px;
        position: relative;
        &::before {
            content: '–';
            font-size: 15px;
            font-weight: 500;
            position: absolute;
            top: -10px;
            left: 193px;
        }
    }
    .text {
        font-size: 20px;
        line-height: 20px;
    }
    .input {
        width: 100%;
        height: 60px;
        padding: 0 5px 0 5px;
        border-radius: 10px;
        font-size: 25px;
        &::placeholder {
            font-size: 25px;
        }
    }
    .btn {
        margin: 60px 0 0 0;
        width: 100%;
        height: 60px;
        border-radius: 20px;
        font-size: 25px;
        line-height: 15px;
        &:active {
            outline: none;
        }
    }
    .text-link {
        margin: 2px 0 10px 0;
        padding: 0 0 0 0;
        &:active {
            color: $text-input_color;
            border-bottom: 3px dashed $text-input_color;
        }
    }
}

@media only screen and (max-width: 499px) {
    .container-inside {
        width: 90%;
    }
    .quote {
        font-size: 25px;
        line-height: 30px;
        margin: 0 0 20px 0;
    }
    .laquo {
        position: relative;
        &::before {
            content: '«';
            position: absolute;
            top: -2px;
            left: -12px;
        }
    }
    .author {
        font-size: 20px;
        line-height: 25px;
        position: relative;
        &::before {
            content: '–';
            font-size: 15px;
            font-weight: 500;
            position: absolute;
            top: -10px;
            left: 155px;
        }
    }
    .text {
        font-size: 15px;
        line-height: 20px;
        &:last-child {
            padding: 0px;
        }
    }
    .input {
        height: 60px;
        padding: 0 5px 0 5px;
        border-radius: 10px;
        &::placeholder {
            font-size: 20px;
        }
    }
    .btn {
        margin: 60px 0 0 0;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        font-size: 25px;
        line-height: 15px;
        outline: none;
        &:active {
            outline: none;
        }
    }
    .text-link {
        margin: 2px 0 10px 0;
        padding: 0 0 0 0;
        &:active {
            color: $text-input_color;
            border-bottom: 3px dashed $text-input_color;
        }
    }
}